<h2><%= @superlative.name %></h2>

<% @launchers.each do |launcher| %>

  <%= simple_form_for [@superlative, @vote] do |f| %>
    <%= f.hidden_field :launcher, value:launcher.id %>
    <%= f.button :submit, "+1" %>
  <% end %>

  <%= launcher.name %><br><br>

<% end %>
