<h1>Launchers</h1>

<%= simple_form_for(@launcher) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<h3><%= @launchers.count %></h3>



<% @launchers.each do |launcher| %>
  <%= launcher.name %><br><br>
<% end %>